h1 {
  text-align: right;
}

h1, h2, h3, h4, h5 {
	color: #666;
	font-family: sans-serif;
	font-size: 2.2em;
}

p {
	color: #444;
	font-family: serif;
	font-size: 1.3em;
}

a {
	text-decoration: none;
	color: #1EAEDB;
}

li {
	list-style: upper-roman;
	color: #444;
	font-family: sans-serif;
	font-size: 1.2em;
	line-height: 1.4em;
}